.doc .admonitionblock {
  margin: 1.4rem 0 0;
}

.doc .admonitionblock p,
.doc .admonitionblock td.content {
  font-size: calc(16 / var(--rem-base) * 1rem);
}

.doc .admonitionblock td.content > :not(.title):first-child,
.doc .admonitionblock td.content > .title + * {
  margin-top: 0;
}

.doc .admonitionblock td.content pre {
  font-size: calc(15 / var(--rem-base) * 1rem);
}

.doc .admonitionblock > table {
  table-layout: fixed;
  position: relative;
  width: 100%;
}

.doc .admonitionblock td.content {
  padding: 1rem 1rem 0.75rem;
  background: var(--admonition-background);
  width: 100%;
  overflow-wrap: anywhere;
}

.doc .admonitionblock td.icon {
  font-size: calc(15 / var(--rem-base) * 1rem);
  left: 0;
  line-height: 1;
  padding: 0;
  position: absolute;
  top: 0;
  transform: translate(-0.5rem, -50%);
}

.doc .admonitionblock td.icon i {
  align-items: center;
  border-radius: 0.45rem;
  display: inline-flex;
  filter: initial;
  height: 1.25rem;
  padding: 0 0.5rem;
  vertical-align: initial;
  width: fit-content;
}

.doc .admonitionblock td.icon i::after {
  content: attr(title);
  font-weight: var(--admonition-label-font-weight);
  font-style: normal;
  text-transform: uppercase;
}

.doc .admonitionblock td.icon i.icon-caution {
  background-color: var(--caution-color);
  color: var(--caution-on-color);
}

.doc .admonitionblock td.icon i.icon-important {
  background-color: var(--important-color);
  color: var(--important-on-color);
}

.doc .admonitionblock td.icon i.icon-note {
  background-color: var(--note-color);
  color: var(--note-on-color);
}

.doc .admonitionblock td.icon i.icon-tip {
  background-color: var(--tip-color);
  color: var(--tip-on-color);
}

.doc .admonitionblock td.icon i.icon-warning {
  background-color: var(--warning-color);
  color: var(--warning-on-color);
}

.doc .imageblock,
.doc .videoblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doc .imageblock.text-left,
.doc .videoblock.text-left {
  align-items: flex-start;
}

.doc .imageblock.text-right,
.doc .videoblock.text-right {
  align-items: flex-end;
}

.doc .imageblock img,
.doc .imageblock object,
.doc .imageblock svg,
.doc .image > img,
.doc .image > object,
.doc .image > svg {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.doc .image:not(.left):not(.right) > img {
  margin-top: -0.2em;
}

.doc .videoblock iframe,
.doc .videoblock video {
  max-width: 100%;
  vertical-align: middle;
}

#preamble .abstract blockquote {
  background: var(--abstract-background);
  border-left: 5px solid var(--abstract-border-color);
  color: var(--abstract-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  padding: 0.75em 1em;
}

.doc .quoteblock,
.doc .verseblock {
  background: var(--quote-background);
  border-left: 5px solid var(--quote-border-color);
  color: var(--quote-font-color);
}

.doc .quoteblock {
  padding: 0.25rem 2rem 1.25rem;
}

.doc .quoteblock .attribution {
  color: var(--quote-attribution-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  margin-top: 0.75rem;
}

.doc .quoteblock blockquote {
  margin-top: 1rem;
}

.doc .quoteblock .paragraph {
  font-style: italic;
}

.doc .quoteblock cite {
  padding-left: 1em;
}

.doc .verseblock {
  font-size: 1.15em;
  padding: 1rem 2rem;
}

.doc .verseblock pre {
  font-family: inherit;
  font-size: inherit;
}
